<!DOCTYPE html>
<html>
<%- include('../../layout/head',{stylesheet: 'profile.css'}) %>
<body>
  <!-- This div.content grouping is a CSS trick to keep the footer always at the bottom of the page -->
  <div class="content">
    <%- include('../../layout/header') %>
    <% if (onLogin === true) { %>
      <%- include('user') %>
    <% } else { %>
      <%- include('new') %>
    <% } %>
  </div>
  <%- include('../../layout/footer') %>
</body>
</html>