
<div class="entry-full journal" id="<%= `entry-${journal.id}` %>">
    <div class="journalHeader">
      <div class="journalInfo">
        <p><em>
            <%= journal.date.toDateString() %></em></p>
        <ul>
          <li>Exercise? <b>
              <%= journal.exercise ? 'Yes' : 'No' %></b></li>
          <li>Go outside? <b>
              <%= journal.outdoors ? 'Yes' : 'No ' %></b></li>
          <li>Sentiment: <b>
              <%= journal.sentiment %></b></li>
        </ul>
      </div>
      <table>
        <thead>
          <tr>
            <th>Emotion</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tr>
          <td>Anger</td>
          <td>
            <%= journal.anger %>
          </td>
        </tr>
        <tr>
          <td>Fear</td>
          <td>
            <%= journal.fear %>
          </td>
        </tr>
        <tr>
          <td>Joy</td>
          <td>
            <%= journal.joy %>
          </td>
        </tr>
        <tr>
          <td>Sadness</td>
          <td>
            <%= journal.sadness %>
          </td>
        </tr>
        <tr>
          <td>Surprise</td>
          <td>
            <%= journal.surprise %>
          </td>
        </tr>
      </table>
    </div>
    <hr>
    <div class="entry">
      <p>
        <%- journal.entry.replace(/\n/g, '<br>') %>
      </p>
    </div>

    <div class="entry-options">
      <a class="update" href="">Update Journal Entry</a>
      <a class="return" href="">Return to Profile</a>
      <a class="delete" href="">Delete Journal Entry</a>
    </div>
  </div>