<main class="<%= typeof journal === 'object' ? 'entry-edit' : '' %>" id="<%= typeof journal === 'object' ? `edit-${journal.id}` : 'new' %>">


  <form action="<%= typeof journal === 'object' ? '/update' : '/new' %>" method="POST">
    <% if (typeof journal === 'object') { %>
    <input type="hidden" name="_method" value="PUT">
    <input name="jid" type="hidden" value="<%= journal.id %>">
    <% } %>
    <input name="uid" type="hidden" value="<%= uid %>">
    <fieldset>
      <section>
        <label class="block" for="date">Date</label>
        <input id="datePicker" name="date" type="date" value="<%= typeof journal === 'object' ? journal.date.toISOString().slice(0,10) : '' %>"
          required>
      </section>
      <section>
        <div class="checkbox">
          <label for="exercise">Exercise</label>
          <input type="checkbox" name="exercise" <%=typeof journal==='object' && journal.exercise ? 'checked' : '' %>>
        </div>
        <div class="checkbox">
          <label for="outdoors">Outdoors</label>
          <input type="checkbox" name="outdoors" <%=typeof journal==='object' && journal.outdoors ? 'checked' : '' %>>
        </div>
      </section>
    </fieldset>
    <div>
      <label class="block" for="entry">Write About Your Day</label>
      <textarea name="entry" id="" required><%= typeof journal === 'object' ? journal.entry : '' %></textarea>
    </div>
    <button type="submit">
      <%= typeof journal === 'object' ? 'Update' : 'Submit' %></button>
    <div>
      <a class="cancel" href="#">Cancel</a>
    </div>
  </form>
</main>