<main id="profile">
  <div id="profile-upper">
    <%- include('../../layout/banner', {
      bannerMessage: `Profile Page`,
      username: username
    }) %>

    <%- include('graph') %>

    <div id="headingContainer">
      <h4>Your Journal Entries</h4>
      <button>Add New Entry</button>
    </div>
  </div>



  <% if (typeof journals === 'object' && journals) { %>
    <section id="previews">
      <% journals.forEach(journal => { %>

        <%- include('entry-preview', {journal}) %>

        <div class="entry-full" id="<%= `entry-${journal.id}` %>">
            <%- include('entry', {journal}) %>
        </div>

        <main class='entry-edit' id="<%= `edit-${journal.id}` %>">
            <%- include('form', {journal, username, uid}) %>
        </main>



      <% }) %>
    </section>
  <% } else { %>
  <p>You have not written any journal entries yet.</p>
  <% } %>
</main>