<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/head', {stylesheet: 'profile.css'}) %>

  <body>


    <!-- <section class="main-container"> -->

      <div class="content">
          <%- include('../../layout/header') %>
        <%- include('journals') %>
        <%- include('form') %>
        <%- include('main-graph') %>
      </div>

    <!-- </section> -->

    <%- include('../../layout/footer') %>

  </body>

</html>