<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head', {stylesheet: 'profile.css'}) %>
<body>
  <!-- This div.content grouping is a CSS trick to keep the footer always at the bottom of the page -->

  <div class="content">
    <%- include('../../layout/header') %>
    <%- include('journals') %>
    <%- include('new') %>
    <%- include('main-graph') %>
  </div>
  <%- include('../../layout/footer') %>
</body>
</html>