<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>
<body>
  <div class="content">
    <%- include('../layout/header') %>
    <main>
      <h1><%= message %></h1>
      <p><%= error %></p>
    </main>
  </div>
  <%- include('../layout/footer') %>
</body>
</html>